/* Result.css */

.result-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: auto;
}

.exam-session {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.result-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.result-table th,
.result-table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.result-table th {
  background-color: #f2f2f2;
}

.percentage {
  font-size: 1rem;
  margin-top: 1rem;
}

.progress-bar-container {
  margin-top: 30px;
  border-radius: 10px;
}

.progress-bar {
  height: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
  .result-container {
    padding: 15px;
  }

  .result-table th,
  .result-table td {
    padding: 10px;
  }

  .progress-bar-container {
    margin-top: 20px;
  }

  .progress-bar {
    height: 15px;
  }

  .exam-session {
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
  }
}
@media (max-width: 300px) {
  .result-selector {
    flex-direction: column;
    align-items: center;
  }
  .result-container {
    width:auto;
  }
}