.input{
    width:90%;
}
.container
{
  background-color: #F8F9F8;
  display:flex;
  flex-direction: column;
}
.continue
{
    margin-top:10%;
    color:white;
    text-decoration: none;
}
.btn{
    width:70%;
}
